.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.main {
  width: 100%;
  min-height: 800px;
  height: auto;
}

@media only screen and (min-device-width: 960px) {
    .content {
      width: 70%;
    }
}
.content {
  max-height: 90%;
  margin: auto;
}

.target-sales > div{
  margin: 10px;
}
.table-influencer{
  border-collapse: collapse;
  border-spacing: 0px;
}

.table-influencer tr{
  height: 30px;
}

.table-influencer tr:nth-child(even){
  background-color: rgba(255, 255, 255, 0.298039)
}

.table-influencer th{
  font-size: smaller;
}

.table-influencer th:not(:first-child){
  padding-left: 5px;
}

.table-influencer th:first-child{
  text-align: left;
}

.table-influencer td{
  font-size: smaller;
}

/*.table-influencer td:nth-child(even){
  background-color: #CCC
}*/

.table-influencer td:not(:first-child){
  text-align: center;
}

.table-influencer td:not(:first-child):not(:last-child) > input{
  width: 50px;
  background-color:inherit; 
  border: none;
  border-bottom: 2px solid #222; 
  text-align: center;
}


.table-influencer .subheader{
  font-weight: bold;
}